@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --clr-primary-1: #00474B;
  --clr-primary-2: #26C2AE;
  --clr-bg: #C5E4E7;
  --clr-btn-text-light: #547878;
  --clr-btn-hover: #9FE8DF;
  --clr-sm-label: #7F9D9F;
  --clr-input-bg: #F3F9FA;
  --clr-input-label: #5E7A7D;
  --clr-reset-btn-bg: #0D686D;
  --clr-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: var(--clr-bg);
}

input,
button {
  font-family: inherit;
  border: none;
  background: none;
  padding: 0;
}