@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --clr-primary-1: #00474B;
  --clr-primary-2: #26C2AE;
  --clr-bg: #C5E4E7;
  --clr-btn-text-light: #547878;
  --clr-btn-hover: #9FE8DF;
  --clr-sm-label: #7F9D9F;
  --clr-input-bg: #F3F9FA;
  --clr-input-label: #5E7A7D;
  --clr-reset-btn-bg: #0D686D;
  --clr-error: #E17457;
  --clr-white: #fff;

  --transition-default: all .25s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: var(--clr-bg);
  user-select: none;
}

input,
button {
  font-family: inherit;
  border: none;
  /* background: none; */
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}